body {
  font-family: Comic Sans MS, sans-serif;
  background-color: #ffffff;
  background-image: linear-gradient(to bottom right, #8a72b0, #3c73a8);
  color: #000000;
  text-align: center;
}

h1 {
  font-family: Arial, sans-serif;
  font-size: 48px;
  font-weight: bold;
}

h2 {
  font-family: Arial, sans-serif;
  font-size: 36px;
  font-weight: bold;
}

p {
  font-size: 24px;
  line-height: 1.5;
  margin: 20px;
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: 384px;
  width: 288px;
}

.zoom-link {
  font-family: Arial, sans-serif;
  font-size: 20px;
  margin: 20px;
}

.contact-info {
  font-family: Arial, sans-serif;
  font-size: 20px;
  margin: 20px;
}
